.userPicture{
    width: 200px;
    height: 300px;
}

.userCard{
    border: 1px solid white;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    color: white;

    transition: transform 0.5s;
}

.userCard-bottom h3{
    font-size: 0.5 rem;
}

.userCard-bottom{
    padding: 10px;

}
.userCard-top img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.slick-slide > div {
    margin: 0 10px;
  }
.slick-list {
    margin: 0 -10px;
  }

.indexPageUserFullName{
    display: inline;
    border-bottom: 1px solid red;
}

/* allow the popup */
.userCard:hover {
    transform: translateZ(20px) scale(1.1);
}

/* to prevent the card text from being blue from link  */
.userCard-link{
    color: white;
    text-decoration: none;
}

.martialArtCategory{
    color:white;
    display: inline-block;
    border-bottom: 3px solid red;
    font-family: 'Netflix Sans';
}

/* getting the netflix sans font */
@font-face {
    font-family: 'Netflix Sans';
    src: url('../../../styling/netflix-sans-font/NetflixSans-Regular.otf') format('truetype');
  }
