.profilePic{
    width: 29rem;
    height: 35rem;
    margin-top: 25px;
}


.profilePicDiv{
    text-align: center;
}



.showProfilePage{
    background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-paper-cut-kung-fu-budo-chinese-martial-arts-poster-picture-image_1126036.jpg');
    border-radius: 5%;
    color: white;
    background-position: center;
}

.showUserFullName{
    display: inline;
    border-bottom: 3px solid red;
}

.userProfileHeaderDiv{
    text-align: center;
}

.userInstitutionHeader{
    display: inline;
    border-bottom: 2px solid red;
}

.userProfileInfo{
    margin-top: 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem !important;
  
 }
.userInstitutionInfo{
    text-align: center;
}



 .editDltButtonsUserProfile{
    text-align: center;
 }