/* Create Post Page Styling */
.editPostPage{
    background-image: url('../../../styling/Images/editPostImg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.centerEditPost{
    margin: 0 auto;
}


.editPostForm{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 50px 40px 50px 40px !important;
    border-radius: 5px;
}

.editPostInputDiv{
    color:white;
    border-radius: 10px; 
}

.editPostHeader{
    color: white;
    position: relative;
    font-weight: bold;
    font-family: 'Netflix Sans';
}

.editPostBtn{
    font-weight: bold;
    font-family: 'Netflix Sans';
    padding: 0 40% 0 40%;
    background-color: #D2122E !important;
    border-radius: 5px;
    
}

/* getting the netflix sans font */
@font-face {
    font-family: 'Netflix Sans';
    src: url('../../netflix-sans-font/NetflixSans-Regular.otf') format('truetype');
  }