.replyComment{
    background-color: green;
}


/* login page styling */
.signInPage{
    background-image: url('./Images/NewDesign.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerSignIn{
    margin: 0 auto;
    
}

.shadingOverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
  }

.signInForm{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.signInInputDiv{
    background-color: white;
    border-radius: 10px; 
}

.signInHeader{
    color: white;
    position: relative;
    font-weight: bold;
    font-family: 'Netflix Sans';
}

/* getting the netflix sans font */
@font-face {
    font-family: 'Netflix Sans';
    src: url('./netflix-sans-font/NetflixSans-Regular.otf') format('truetype');
  }