


/* nav bar and mai page styling */
.logo{
    width: 200px;
}

.navBar{
    background-color: black;
    padding: 5px 35px 5px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    padding:0 35px 35px 35px;
    background-color: black;
}


.navBarSignInBtn{
    font-family: 'Netflix Sans';
    font-weight: bold;
    border-radius: 5px;
    background-color: #D2122E !important;

}


/* main nav bar is for the nav bar when the user signs in their account */
.mainNavBar{
    background-color: black;
    font-family: 'Netflix Sans';
}

.navBarDropdown{
    padding: 20px;
}

/* getting the netflix sans font */
@font-face {
    font-family: 'Netflix Sans';
    src: url('./styling/netflix-sans-font/NetflixSans-Regular.otf') format('truetype');
  }










